
.image,.page{
    border-radius: 1.21rem;
}
.image{
    width: 100%;
    height: 320px;
    background-color: gray;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.badge{
    font-weight: 600;
    color: oklch(70.7% 0.022 261.325);
    padding: 5px;
    border: 1px solid  oklch(70.7% 0.022 261.325);
    border-radius: 8px;
    margin-right: 5px;
}
.page{
    padding: 8px;
    border: 1px solid #363636;
}
.closeModal{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: grid;
    padding: 4px;
    place-content: center;
    background: #232323;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease-in-out;
}

.closeModal:hover{
   background-color: #363636;
}
 .contentBadge{
        width: 100%;
        padding: 1rem 0;
    }
@media (width > 40rem){
    .page{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .page > div{
        padding: 0.625rem;
    }
    .image{
        height: 400px;
    }
    .img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
   
    .closeModal{
    right: 10px;
    top: 80px;
    width: 40px;
    height: 40px;
    display: grid;
    padding: 4px;
    place-content: center;
    background: #232323;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease-in-out;
}

.closeModal:hover{
   background-color: #363636;
}
}

